# Dependencies
node_modules
.pnpm-store
.pnpm
.pnpm-debug.log
npm-debug.log
.next

# Build output
dist
build
coverage

# Version control
.git
.gitignore
.gitconfig

# Docker files
Dockerfile
docker-compose.yml
devcontainer.json

# Editor/IDE
.vscode
.idea
*.swp

# Secrets and configs
.env
.env.*
.aws
.npmrc

# Misc
README.md
LICENSE
*.log
.editorconfig
